service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if (request.resource.contentType.matches('image/.*') && request.resource.size < 4 * 1024 * 1024) 
      						 || (request.resource.contentType.matches('video/.*') && request.resource.size < 50 * 1024 * 1024)
      						 && request.auth != null;
    }
  }
}
